{% extends 'base.html' %}

{% block content %}
<h1>Transactions</h1>

<p>
    Total Spent: ${{ total_spent }}
</p>


<p>
    <a href="/transactions/new">New Transaction</a>
</p>
    
<ul>
    {% for transaction in transactions %}
    <li>
        <p> {{ transaction.merchant.name }} - {{ transaction.tag.name }} </p>
        <p><i>${{ transaction.amount }}</i></p>
        <p>
            <form action="/transactions/{{ transaction.id }}/delete" method="POST">
            <input type="submit" value="delete">
            </form>
        </p>
    </li>  
    {% endfor %}
</ul>

{% endblock %}
